@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&display=swap");
:root {
  --c1:#2A98BD;
  --c2:#2CC7C4;
  --c3:#30B089;
  --c4:#2CC76C;
  --c5:#2ABD3D;
  --c1-dark:#2484A3;
  --c2-dark:#26ADAB;
  --c3-dark:#299676;
  --c4-dark:#26AD5F;
  --c5-dark:#24A335;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.strip1 {
  background: linear-gradient(-45deg, #2A98BD 20%, #2CC7C4 0, #2CC7C4 40%, #30B089 0, #30B089 60%, #2CC76C 0, #2CC76C 80%, #2ABD3D 0);
}

/*
.strip1 {
    background: linear-gradient(90deg, get-stops(#5461c8 #c724b1 #e4002b #ff6900 #f6be00 #97d700 #00ab84 #00a3e0))
}

.strip {    
    &:nth-child(1) {
        background: linear-gradient(90deg, get-stops(#5461c8 #c724b1 #e4002b #ff6900 #f6be00 #97d700 #00ab84 #00a3e0))
    }
    
    &:nth-child(2) {
        background: linear-gradient(get-stops(purple deeppink gold))
    }
    
    &:nth-child(3) {
        background: linear-gradient(60deg, get-stops(#000 #ff006f #ffb300 #fff538))
    }
    
    &:nth-child(4) {
        background: linear-gradient(-45deg, get-stops(#4a195b #b52986 #fd648d #faa776 #ead388))
    }
}
*/
body {
  background: linear-gradient(135deg, #f3f9ff 21px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px), linear-gradient(225deg, #f3f9ff 21px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px) 0 64px;
  background-color: #f3f9ff;
  background-size: 64px 128px;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

header section {
  text-align: center;
}

header section h2 {
  color: #fff;
}

header main {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header main a {
  width: 150px;
  text-align: center;
}

header main span {
  color: #fff !important;
  font-size: 1.5em;
  margin: 0px 10px;
  -webkit-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

header main span:hover {
  opacity: 0.5;
}

header .invisible {
  display: none;
}

form, .profits {
  width: 90vw;
  min-width: 300px;
  max-width: 500px;
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  -webkit-box-shadow: 0px 0px 20px #ddd;
          box-shadow: 0px 0px 20px #ddd;
}

.form {
  position: relative;
  overflow: hidden;
}

.form main {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.form input,
.form select {
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  padding: 20px 2px 0px;
  color: #595f6e;
  border: none;
  outline: 0;
}

.form select {
  background: #fff;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #000;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #5fa8d3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 14px;
}

.form input:focus + .label-name .content-name {
  color: #5fa8d3;
}

.form input:focus + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

button, .button {
  width: 100%;
  color: #fff;
  font-size: 1.2em;
  margin-top: 1px;
  padding: 2px;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

button:hover, .button:hover {
  border: 1px solid #6c15be;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

button:focus, .button:focus {
  border: 1px solid #be1515;
}

.nav {
  width: 85%;
  min-width: 150px;
  max-width: 800px;
  margin: 10px auto;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
}

footer > p {
  padding: 5px 5%;
}

.table-5, .table-3 {
  width: 85%;
  min-width: 150px;
  max-width: 800px;
  display: -ms-grid;
  display: grid;
  margin: auto;
  text-align: center;
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.table-5:hover, .table-3:hover {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

.table-5::before, .table-3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  z-index: -1;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.table-5:nth-child(1), .table-3:nth-child(1) {
  margin: 10px auto 1px;
  border-radius: 7px 7px 0px 0px;
}

.table-5:nth-child(1)::after, .table-3:nth-child(1)::after, .sales .table-5:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
}

.table-5 section, .table-3 section {
  color: #fff;
  padding: 5px;
}

.table-5 {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, var(--c1)), color-stop(0, var(--c2)), color-stop(40%, var(--c2)), color-stop(0, var(--c3)), color-stop(60%, var(--c3)), color-stop(0, var(--c4)), color-stop(80%, var(--c4)), color-stop(0, var(--c5)));
  background: linear-gradient(90deg, var(--c1) 20%, var(--c2) 0, var(--c2) 40%, var(--c3) 0, var(--c3) 60%, var(--c4) 0, var(--c4) 80%, var(--c5) 0);
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.table-5::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, var(--c1-dark)), color-stop(0, var(--c2-dark)), color-stop(40%, var(--c2-dark)), color-stop(0, var(--c3-dark)), color-stop(60%, var(--c3-dark)), color-stop(0, var(--c4-dark)), color-stop(80%, var(--c4-dark)), color-stop(0, var(--c5-dark)));
  background: linear-gradient(90deg, var(--c1-dark) 20%, var(--c2-dark) 0, var(--c2-dark) 40%, var(--c3-dark) 0, var(--c3-dark) 60%, var(--c4-dark) 0, var(--c4-dark) 80%, var(--c5-dark) 0);
}

.table-5:nth-child(1)::after {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, var(--c1-dark)), color-stop(0, var(--c2-dark)), color-stop(40%, var(--c2-dark)), color-stop(0, var(--c3-dark)), color-stop(60%, var(--c3-dark)), color-stop(0, var(--c4-dark)), color-stop(80%, var(--c4-dark)), color-stop(0, var(--c5-dark)));
  background: linear-gradient(90deg, var(--c1-dark) 20%, var(--c2-dark) 0, var(--c2-dark) 40%, var(--c3-dark) 0, var(--c3-dark) 60%, var(--c4-dark) 0, var(--c4-dark) 80%, var(--c5-dark) 0);
}

.table-5:nth-last-child(3) {
  border-radius: 0px 0px 7px 7px;
}

.table-3 {
  background: -webkit-gradient(linear, left top, right top, color-stop(33.33333%, var(--c1)), color-stop(0, var(--c3)), color-stop(66.66667%, var(--c3)), color-stop(0, var(--c5)));
  background: linear-gradient(90deg, var(--c1) 33.33333%, var(--c3) 0, var(--c3) 66.66667%, var(--c5) 0);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.table-3::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(33.33333%, var(--c1-dark)), color-stop(0, var(--c3-dark)), color-stop(66.66667%, var(--c3-dark)), color-stop(0, var(--c5-dark)));
  background: linear-gradient(90deg, var(--c1-dark) 33.33333%, var(--c3-dark) 0, var(--c3-dark) 66.66667%, var(--c5-dark) 0);
}

.table-3:nth-child(1)::after {
  background: -webkit-gradient(linear, left top, right top, color-stop(33.33333%, var(--c1-dark)), color-stop(0, var(--c3-dark)), color-stop(66.66667%, var(--c3-dark)), color-stop(0, var(--c5-dark)));
  background: linear-gradient(90deg, var(--c1-dark) 33.33333%, var(--c3-dark) 0, var(--c3-dark) 66.66667%, var(--c5-dark) 0);
}

.table-3:nth-last-child(2) {
  border-radius: 0px 0px 7px 7px;
}

.conticon-left {
  position: absolute;
  left: -25px;
}

.conticon-right {
  position: absolute;
  right: -25px;
}

.conticon-left img, .conticon-right img {
  width: 20px;
  cursor: pointer;
  margin: 0 2px;
}

.mobile-footer {
  width: 100%;
  display: none;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 5px 0px;
}

.mobile-footer p {
  color: #fff;
}

.sales {
  width: 95%;
  min-width: 150px;
  max-width: 800px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.644);
}

.sales .table-5 {
  width: 100%;
}

.sales .table-5:nth-last-child(2) {
  border-radius: 0px 0px 0px 7px;
}

.sales .table-5:nth-last-child(3) {
  border-radius: 0px;
}

.sales .table-5:nth-child(2) {
  margin: 10px auto 1px;
  border-radius: 7px 7px 0px 0px;
}

.sales .table-5:nth-child(2)::after {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, var(--c1-dark)), color-stop(0, var(--c2-dark)), color-stop(40%, var(--c2-dark)), color-stop(0, var(--c3-dark)), color-stop(60%, var(--c3-dark)), color-stop(0, var(--c4-dark)), color-stop(80%, var(--c4-dark)), color-stop(0, var(--c5-dark)));
  background: linear-gradient(90deg, var(--c1-dark) 20%, var(--c2-dark) 0, var(--c2-dark) 40%, var(--c3-dark) 0, var(--c3-dark) 60%, var(--c4-dark) 0, var(--c4-dark) 80%, var(--c5-dark) 0);
}

.sales-cantidad, .stock {
  padding: 0;
  margin: 0;
  width: 70%;
  height: 20px;
  min-width: 0;
  margin: auto;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sales-cantidad input, .stock input {
  font-size: 1em;
  margin: 0;
  background: transparent;
}

.sales-cantidad label, .stock label {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.sales-cantidad .label-name::after, .stock .label-name::after {
  border-bottom: 3px solid #fff;
}

.sales-cantidad input:focus + .label-name .content-name, .stock input:focus + .label-name .content-name, .sales-cantidad input, .stock input {
  color: #fff;
}

.stock {
  width: 30%;
}

.stock input {
  text-align: center;
}

.totales {
  width: 100%;
  min-width: 0;
  max-width: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  text-align: center;
}

.totales section {
  background: #2ABD3D;
  color: #fff;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  padding: 5px;
  position: relative;
  border-radius: 0px 0px 7px 7px;
}

.totales section::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #24A335;
  z-index: -1;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.totales section::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: #24A335;
}

.sales .button {
  margin-top: 10px;
}

.profits {
  width: 200px;
  min-width: 200px;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

@media screen and (max-width: 820px) {
  header {
    font-size: 0.8em;
  }
  .mobile-header {
    display: none;
  }
  .table-5,
  .table-3,
  .sales .table-5 {
    font-size: 0.7em;
    margin-left: auto;
  }
  .strip1 {
    background: linear-gradient(-45deg, #2A98BD 33.33333%, #30B089 0, #30B089 66.66667%, #2ABD3D 0);
  }
  .invisible > p {
    display: none;
  }
  footer .invisible {
    display: none;
  }
  .mobile-footer {
    display: -ms-grid;
    display: grid;
  }
}
/*# sourceMappingURL=style.css.map */