@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&display=swap');
:root {
    --c1:#2A98BD;
    --c2:#2CC7C4;
    --c3:#30B089;
    --c4:#2CC76C;
    --c5:#2ABD3D;
    --c1-dark:#2484A3;
    --c2-dark:#26ADAB;
    --c3-dark:#299676;
    --c4-dark:#26AD5F;
    --c5-dark:#24A335;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
.title {
    margin: 0px 20%;
}
@import 'gradients';
body {
    background:
    linear-gradient(135deg, #f3f9ff 21px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px),
    linear-gradient(225deg, #f3f9ff 21px, #fff 22px, #fff 24px, transparent 24px, transparent 67px, #fff 67px, #fff 69px, transparent 69px)0 64px;
    background-color:#f3f9ff;
    background-size: 64px 128px;
}

header {
    display: grid;
    grid-template-columns:  1fr 4fr;
}
header section {
    text-align: center;
    & h2{ color: #fff; }
}
header main {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & a {
        width: 150px;
        text-align: center;
    }
}
header main span {
    color: #fff !important;
    font-size: 1.5em;
    margin: 0px 10px;
    transition: opacity 200ms linear;
    &:hover {
        opacity: 0.5;
    }
}
header .invisible {
    display: none;
}

@import "forms";
@import "tables";

.nav {
    width: 85%;
    min-width: 150px;
    max-width: 800px;
    margin: 10px auto;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}
footer > p {
    padding: 5px 5%;
}

.mobile-footer {
    width: 100%;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 5px 0px;
}
.mobile-footer p {
    color: #fff;
}


.sales {
    width: 95%;
    min-width: 150px;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.644);
}

.sales-cantidad {
    padding: 0;
    margin: 0;
    width: 70%;
    height: 20px;
    min-width: 0;
    margin: auto;
    background: transparent;
    box-shadow: none;
}
.sales-cantidad input {
    font-size: 1em;
    margin: 0;
    background: transparent;
}
.sales-cantidad label {
    color: #fff;
    border-bottom: 1px solid #fff;
}
.sales-cantidad .label-name::after {
    border-bottom: 3px solid #fff;
}
.sales-cantidad input:focus + .label-name .content-name, .sales-cantidad input {
    color: #fff;
}

.stock {
    @extend .sales-cantidad;
    width: 30%;
    & input {
        text-align: center;
    }
}

.totales {
    width: 100%;
    min-width: 0;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    text-align: center;
}
.totales section {
    background: #2ABD3D;
    color: #fff;
    grid-column: 5/6;
    padding: 5px;
    position: relative;
    border-radius:0px 0px 7px 7px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #24A335;
        z-index: -1;
        filter: blur(3px);
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        height: 1px;
        background: #24A335;
    }

}
.sales .button {
    margin-top: 10px;
}

.profits {
    @extend form;
    width: 200px;
    min-width: 200px;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.right {
    float: right;
    & img {
        width: 20px;
    }
}

@import "dates";

@import "mobile";